.cajita {
    margin: 0 25px;
    border: 2px solid black;
    width: 25px;
    height: 25px;
    position: relative;
}

@keyframes ejemplo {
    from {

        left: 0;
        background-color: brown;
    }
    to {
        left: 800px;
        background-color: aqua;
    }


}

.linear{
    animation: ejemplo 2s linear 2s infinite alternate;
}
.ease{
    animation: ejemplo 2s ease 2s infinite alternate;
}
.ease-in{
    animation: ejemplo 2s ease-in 2s infinite alternate;
}
.ease-out{
    animation: ejemplo 2s ease-out 2s infinite alternate;
}
.ease-in-out{
    animation: ejemplo 2s ease-in-out 2s infinite alternate;
}